In [0]:
from collections import defaultdict
import matplotlib.pyplot as plt
from nltk.corpus import stopwords
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split, RandomizedSearchCV, cross_val_score, GridSearchCV
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from scipy.stats import randint
from sklearn.linear_model import ElasticNet
import numpy as np
import random
import copy
from google.colab import files
from google.colab import drive
import seaborn as sns

%matplotlib inline

In [0]:
drive.mount("/content/drive")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
real_males_df = pd.read_csv("/content/drive/My Drive/Colab_Notebooks/Indian-Male-Names.csv")
real_females_df = pd.read_csv("/content/drive/My Drive/Colab_Notebooks/Indian-Female-Names.csv")

In [0]:
real_males_df.head()

              name gender    race
0          barjraj      m  indian
1     ramdin verma      m  indian
2  sharat chandran      m  indian
3  birender mandal      m  indian
4             amit      m  indian

In [0]:
 real_females_df.head()

              name gender    race
0          shivani      f  indian
1             isha      f  indian
2  smt shyani devi      f  indian
3            divya      f  indian
4            mansi      f  indian

In [0]:
fake_males_df = real_males_df.copy(deep=True)
fake_females_df = real_females_df.copy(deep=True)

In [0]:
fake_males_df.name = fake_males_df.name.apply(lambda x: str(x))
fake_females_df.name = fake_females_df.name.apply(lambda x: str(x))

In [0]:
fake_males_df.name = fake_males_df.name.apply(lambda x: "".join(random.sample(x, len(x))))
fake_females_df.name = fake_females_df.name.apply(lambda x: "".join(random.sample(x, len(x))))
fake_males_df.race = "fake_name"
fake_females_df.race = "fake_name"

In [0]:
fake_males_df.head()

              name gender       race
0          ajrjrab      m  fake_name
1     v inaerdmram      m  fake_name
2  tn cranahhdsraa      m  fake_name
3  rrnblnieedama d      m  fake_name
4             imta      m  fake_name

In [0]:
fake_females_df.head()

              name gender       race
0          shivani      f  fake_name
1             ahis      f  fake_name
2  mivsatn  deshyi      f  fake_name
3            vayid      f  fake_name
4            nmias      f  fake_name

In [0]:
real_males_df['real_0/fake_1'] = 0
fake_males_df["real_0/fake_1"] = 1
real_females_df["real_0/fake_1"] = 0
fake_females_df["real_0/fake_1"] = 1

In [0]:
real_males_df.shape, fake_males_df.shape, real_females_df.shape, fake_females_df.shape

((14845, 4), (14845, 4), (15382, 4), (15382, 4))

In [0]:
combined_names_df = real_males_df.append(fake_males_df).append(real_females_df).append(fake_females_df)

In [0]:
combined_names_df.head()

              name gender    race  real_0/fake_1
0          barjraj      m  indian              0
1     ramdin verma      m  indian              0
2  sharat chandran      m  indian              0
3  birender mandal      m  indian              0
4             amit      m  indian              0

In [0]:
combined_names_df.shape

(60454, 4)

In [0]:
combined_names_df = combined_names_df.sample(frac=1).reset_index(drop=True)

In [0]:
combined_names_df.head()

              name gender       race  real_0/fake_1
0   jafauamrsrad h      m  fake_name              1
1  hardeep @ hunny      m     indian              0
2    santosh mahto      m     indian              0
3            aabid      m     indian              0
4            hlrau      m  fake_name              1

In [0]:
combined_names_df.dropna(inplace=True)
combined_names_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60399 entries, 0 to 60453
Data columns (total 4 columns):
name             60399 non-null object
gender           60399 non-null object
race             60399 non-null object
real_0/fake_1    60399 non-null int64
dtypes: int64(1), object(3)
memory usage: 2.3+ MB

In [0]:
le = LabelEncoder()
le.fit(combined_names_df.gender)
print(le.classes_)
encoded_gender = le.transform(combined_names_df.gender)
combined_names_df.gender = encoded_gender
combined_names_df.info()

['f' 'm']
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60399 entries, 0 to 60453
Data columns (total 4 columns):
name             60399 non-null object
gender           60399 non-null int64
race             60399 non-null object
real_0/fake_1    60399 non-null int64
dtypes: int64(2), object(2)
memory usage: 2.3+ MB

In [0]:
combined_names_df.name = combined_names_df.name.str.lower()
combines_names_X = combined_names_df["name"]
combined_names_y = combined_names_df["real_0/fake_1"]

X_train, X_test, y_train, y_test = train_test_split(combines_names_X, combined_names_y, 
                                                    test_size=0.25, random_state=42)
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

count_vectorizer = CountVectorizer(stop_words='english')
count_train = count_vectorizer.fit_transform(X_train, y_train)
count_test = count_vectorizer.transform(X_test)

tfidf_vectorizer = TfidfVectorizer(stop_words='english')
tfidf_train = tfidf_vectorizer.fit_transform(X_train, y_train)
tfidf_test = tfidf_vectorizer.transform(X_test)

print(count_vectorizer.get_feature_names()[:10])
print(tfidf_vectorizer.get_feature_names()[:10])

(45299,) (45299,) (15100,) (15100,)
['02', '0hm', '0huithd2i', '0ia', '0knaree', '0mk', '0msiako', '0n', '0वन', '105']
['02', '0hm', '0huithd2i', '0ia', '0knaree', '0mk', '0msiako', '0n', '0वन', '105']

In [0]:
multiNB_model = MultinomialNB(alpha=0.1)
multiNB_model.fit(count_train, y_train)
count_preds = multiNB_model.predict(count_test)
print("Accuracy score by Count Vectorizer and Multinomial Naive Bayes: " + str(accuracy_score(y_test, count_preds)*100) + "%")

Accuracy score by Count Vectorizer and Multinomial Naive Bayes: 94.45033112582782%

In [0]:
multiNB_model_tfidf = MultinomialNB(alpha=0.1)
multiNB_model_tfidf.fit(tfidf_train, y_train)
tfidf_preds = multiNB_model_tfidf.predict(tfidf_test)
print("Accuracy score by TfIdf Vectorizer and Multinomial Naive Bayes: " + str(accuracy_score(y_test, tfidf_preds)*100) +"%")

Accuracy score by TfIdf Vectorizer and Multinomial Naive Bayes: 94.38410596026489%

In [0]:
dTree_count_model = DecisionTreeClassifier()
dTree_count_model.fit(count_train, y_train)
dTree_count_preds = dTree_count_model.predict(count_test)

print("Accuracy score by Count Vectorizer and Decision Tree Classifier: " + str(accuracy_score(y_test, dTree_count_preds)*100) +"%")

Accuracy score by Count Vectorizer and Decision Tree Classifier: 61.49006622516556%

In [0]:
dTree_tfidf_model = DecisionTreeClassifier()
dTree_tfidf_model.fit(tfidf_train, y_train)
dTree_tfidf_preds = dTree_tfidf_model.predict(tfidf_test)

print("Accuracy score by Tfidf Vectorizer and Decision Tree Classifier: " + str(accuracy_score(y_test, dTree_tfidf_preds)*100) +"%")

Accuracy score by Tfidf Vectorizer and Decision Tree Classifier: 61.50993377483444%

In [0]:
def is_fake_or_real(name, vectorizer = "tfidf", model="nb"):
    lower_name = copy.deepcopy(str.lower(name))
    name_series = pd.Series(lower_name)
    if vectorizer == "tfidf":
        transformed_name = tfidf_vectorizer.transform(name_series)
    else:
        transformed_name = count_vectorizer.transform(name_series)
        
    prediction = multiNB_model_tfidf.predict(transformed_name)
    if prediction[0] == 0:
        return "{} is valid\n".format(name)
    else:
        return "{} is invalid\n".format(name)

print(is_fake_or_real("gurpreet"))
print(is_fake_or_real("justin"))
print(is_fake_or_real("sjbfhsb"))
print(is_fake_or_real("raju"))
print(is_fake_or_real("adfv"))

gurpreet is valid

justin is valid

sjbfhsb is invalid

raju is valid

adfv is invalid

In [0]:
import tensorflow as tf
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Dense, GRU, Embedding
from tensorflow.python.keras.optimizers import Adam
from tensorflow.python.keras.preprocessing.text import Tokenizer
from tensorflow.python.keras.preprocessing.sequence import pad_sequences
from nltk.corpus import stopwords 
from tensorflow.contrib.tensorboard.plugins import projector

In [0]:
num_words = 20000
tokenizer = Tokenizer(num_words=num_words)
data_text = combined_names_df.name
tokenizer.fit_on_texts(X_train)

In [0]:
tokenizer.word_index

{'kumar': 1,
 'singh': 2,
 'devi': 3,
 'smt': 4,
 'a': 5,
 'kumari': 6,
 'o': 7,
 'pooja': 8,
 'sharma': 9,
 'ram': 10,
 's': 11,
 'i': 12,
 'r': 13,
 'lal': 14,
 'm': 15,
 'n': 16,
 'h': 17,
 'jyoti': 18,
 'd': 19,
 'mohd': 20,
 'deepak': 21,
 'sunita': 22,
 'u': 23,
 'rahul': 24,
 'e': 25,
 'rekha': 26,
 'yadav': 27,
 'poonam': 28,
 'mamta': 29,
 'sonu': 30,
 'bai': 31,
 'k': 32,
 'chand': 33,
 'neha': 34,
 'amit': 35,
 'suman': 36,
 'nisha': 37,
 'gupta': 38,
 'seema': 39,
 'laxmi': 40,
 'meena': 41,
 'khan': 42,
 'kaur': 43,
 'priyanka': 44,
 'sanjay': 45,
 'soni': 46,
 'anita': 47,
 'l': 48,
 'sunil': 49,
 'ravi': 50,
 'raj': 51,
 'raju': 52,
 'pinki': 53,
 'kajal': 54,
 'kavita': 55,
 'ajay': 56,
 'vijay': 57,
 'manju': 58,
 'rani': 59,
 't': 60,
 'preeti': 61,
 'rajesh': 62,
 'manish': 63,
 'mukesh': 64,
 'manoj': 65,
 'rohit': 66,
 'geeta': 67,
 'sandeep': 68,
 'aarti': 69,
 'aa': 70,
 'komal': 71,
 'anil': 72,
 'pal': 73,
 'santosh': 74,
 'ali': 75,
 'kiran': 76,
 'manisha': 77,
 'monika': 78,
 'renu': 79,
 'w': 80,
 'ashok': 81,
 'reena': 82,
 'km': 83,
 'with': 84,
 'md': 85,
 'priya': 86,
 'jain': 87,
 'p': 88,
 'rakesh': 89,
 'asha': 90,
 'neelam': 91,
 'anjali': 92,
 'suraj': 93,
 'v': 94,
 'suresh': 95,
 'sangeeta': 96,
 'pawan': 97,
 'dinesh': 98,
 'vinod': 99,
 'sapna': 100,
 'babita': 101,
 'shivani': 102,
 'anju': 103,
 'arti': 104,
 'vishal': 105,
 'neetu': 106,
 'b': 107,
 'parveen': 108,
 'j': 109,
 'mishra': 110,
 'monu': 111,
 'prakash': 112,
 'mohan': 113,
 'rakhi': 114,
 'radha': 115,
 'pankaj': 116,
 'ankit': 117,
 'rajni': 118,
 'urf': 119,
 'saini': 120,
 'kishan': 121,
 'deepa': 122,
 'khatoon': 123,
 'savita': 124,
 'verma': 125,
 'neeraj': 126,
 'pushpa': 127,
 'bano': 128,
 'ramesh': 129,
 'prem': 130,
 'kanchan': 131,
 'arun': 132,
 'ku': 133,
 'madhu': 134,
 'gaurav': 135,
 'mohit': 136,
 'vikash': 137,
 'sarita': 138,
 'na': 139,
 'satish': 140,
 'abhishek': 141,
 'sachin': 142,
 'g': 143,
 'bharti': 144,
 'maya': 145,
 'sonia': 146,
 'sumit': 147,
 'ravinder': 148,
 'shiv': 149,
 'sh': 150,
 'usha': 151,
 'heena': 152,
 'om': 153,
 'tiwari': 154,
 'naresh': 155,
 'jha': 156,
 'khatun': 157,
 'y': 158,
 'sagar': 159,
 'soniya': 160,
 'chander': 161,
 'lalita': 162,
 'am': 163,
 'aman': 164,
 'meenu': 165,
 'ai': 166,
 'parkash': 167,
 'sonam': 168,
 'mr': 169,
 'c': 170,
 'as': 171,
 'karan': 172,
 'shyam': 173,
 'jai': 174,
 'saroj': 175,
 'kanwar': 176,
 'priti': 177,
 'praveen': 178,
 'annu': 179,
 'kamlesh': 180,
 'akash': 181,
 'ra': 182,
 'jitender': 183,
 'kuldeep': 184,
 'babu': 185,
 'sanju': 186,
 'chauhan': 187,
 'ia': 188,
 'prasad': 189,
 'vicky': 190,
 'surender': 191,
 'kamla': 192,
 'rinki': 193,
 'ma': 194,
 'varsha': 195,
 'ha': 196,
 'dass': 197,
 'rai': 198,
 'pandey': 199,
 'rawat': 200,
 'muskan': 201,
 'shankar': 202,
 'shalu': 203,
 'sanjeev': 204,
 'rajkumar': 205,
 'chandni': 206,
 'mahesh': 207,
 'pappu': 208,
 'krishan': 209,
 'puja': 210,
 'chanchal': 211,
 'ar': 212,
 'shri': 213,
 'raja': 214,
 'nitin': 215,
 'narender': 216,
 'meera': 217,
 'reshma': 218,
 'payal': 219,
 'simran': 220,
 'an': 221,
 'abdul': 222,
 'dev': 223,
 'harish': 224,
 'child': 225,
 'rajender': 226,
 'babli': 227,
 'vikas': 228,
 'virender': 229,
 'ritu': 230,
 'sa': 231,
 'her': 232,
 'kamal': 233,
 'rubi': 234,
 'narayan': 235,
 'shivam': 236,
 'kalu': 237,
 'vivek': 238,
 'lata': 239,
 'gopal': 240,
 'bablu': 241,
 'bahadur': 242,
 'sahil': 243,
 'roshan': 244,
 'pradeep': 245,
 'rinku': 246,
 'mandal': 247,
 'ta': 248,
 'miss': 249,
 'alam': 250,
 'gulshan': 251,
 'krishna': 252,
 'archana': 253,
 'gudiya': 254,
 'ae': 255,
 'ka': 256,
 'rajeev': 257,
 'munni': 258,
 'durga': 259,
 'ahmad': 260,
 'arjun': 261,
 'kishor': 262,
 'jagdish': 263,
 'subhash': 264,
 'mahender': 265,
 'ashu': 266,
 'divya': 267,
 'mona': 268,
 'ah': 269,
 'atul': 270,
 'vikram': 271,
 'vinay': 272,
 'anand': 273,
 'sheetal': 274,
 'ganga': 275,
 'rana': 276,
 'hussain': 277,
 'ashish': 278,
 'minakshi': 279,
 'dharmender': 280,
 'arvind': 281,
 'ua': 282,
 'devender': 283,
 'bharat': 284,
 'sunder': 285,
 'da': 286,
 'pinky': 287,
 'chanda': 288,
 'kapil': 289,
 'hemlata': 290,
 'shanti': 291,
 'uma': 292,
 'laxman': 293,
 'ea': 294,
 'baby': 295,
 'sita': 296,
 'sumitra': 297,
 'ni': 298,
 'garg': 299,
 'nidhi': 300,
 'chandra': 301,
 'urmila': 302,
 'nath': 303,
 'lokesh': 304,
 'shah': 305,
 'das': 306,
 'swati': 307,
 'thakur': 308,
 'sheela': 309,
 'roshni': 310,
 'khushbu': 311,
 'kailash': 312,
 'hema': 313,
 'nna': 314,
 'yogesh': 315,
 'ahmed': 316,
 'govind': 317,
 'sushma': 318,
 'vimla': 319,
 'leela': 320,
 'pardeep': 321,
 'al': 322,
 'age': 323,
 'naveen': 324,
 'sweta': 325,
 'bhawna': 326,
 'kishore': 327,
 'pramod': 328,
 'golu': 329,
 'au': 330,
 'madan': 331,
 'ad': 332,
 'kanta': 333,
 'shashi': 334,
 'radhika': 335,
 'ruksana': 336,
 'doli': 337,
 'pintu': 338,
 'kour': 339,
 'anuj': 340,
 'sandhya': 341,
 'lalit': 342,
 'nitu': 343,
 'deepika': 344,
 'chandan': 345,
 'at': 346,
 'nand': 347,
 'hari': 348,
 'nagma': 349,
 'salman': 350,
 'shabnam': 351,
 'lali': 352,
 'kusum': 353,
 'ak': 354,
 'parwati': 355,
 'ur': 356,
 'imran': 357,
 'sangita': 358,
 'vipin': 359,
 'aasha': 360,
 'parsad': 361,
 'sharda': 362,
 'shikha': 363,
 'khusbu': 364,
 'rubina': 365,
 'la': 366,
 'khushi': 367,
 'sushil': 368,
 'mohammad': 369,
 'rachna': 370,
 'sm': 371,
 'shiwani': 372,
 'tyagi': 373,
 'munna': 374,
 'negi': 375,
 'son': 376,
 'sushila': 377,
 'malik': 378,
 'ruby': 379,
 'rita': 380,
 'kali': 381,
 'paswan': 382,
 'javed': 383,
 'shiva': 384,
 'ri': 385,
 'joshi': 386,
 'indra': 387,
 'tulsi': 388,
 'er': 389,
 'bansal': 390,
 'jaya': 391,
 'uk': 392,
 'ir': 393,
 'vishnu': 394,
 'av': 395,
 'ao': 396,
 'noor': 397,
 'daughter': 398,
 'amar': 399,
 'nr': 400,
 'jat': 401,
 'sn': 402,
 'shree': 403,
 'kapoor': 404,
 'in': 405,
 'guddi': 406,
 'bhawana': 407,
 'aakash': 408,
 'prince': 409,
 'amir': 410,
 'begam': 411,
 'himanshu': 412,
 'is': 413,
 'seeta': 414,
 'meenakshi': 415,
 'ruksar': 416,
 'ns': 417,
 'arif': 418,
 'श्रीमती': 419,
 'or': 420,
 'rupa': 421,
 'dutt': 422,
 'ann': 423,
 'afsana': 424,
 'aggarwal': 425,
 'choudhary': 426,
 'nikita': 427,
 'ansari': 428,
 'parmod': 429,
 'manjeet': 430,
 'khushboo': 431,
 'bimla': 432,
 'barkha': 433,
 'ranjeet': 434,
 'anuradha': 435,
 'kr': 436,
 'sunny': 437,
 'rashmi': 438,
 'guddu': 439,
 'anshu': 440,
 'arora': 441,
 'hemant': 442,
 'anjli': 443,
 'bhagwan': 444,
 'eh': 445,
 'kunwar': 446,
 'tarun': 447,
 'mehto': 448,
 'goyal': 449,
 'chaudhary': 450,
 'gautam': 451,
 'nikhil': 452,
 'aj': 453,
 'su': 454,
 'sahu': 455,
 'sameer': 456,
 'nh': 457,
 'kashyap': 458,
 'nan': 459,
 'shabana': 460,
 'si': 461,
 'vinita': 462,
 'vandana': 463,
 'kirti': 464,
 'beena': 465,
 'ms': 466,
 'kartik': 467,
 'rr': 468,
 'rh': 469,
 'hs': 470,
 'sarkar': 471,
 'ajit': 472,
 'mi': 473,
 'bala': 474,
 'mehta': 475,
 'nitesh': 476,
 'sabnam': 477,
 'hn': 478,
 'mithlesh': 479,
 'amarjeet': 480,
 'bhola': 481,
 'salim': 482,
 'moni': 483,
 'deepu': 484,
 'harsh': 485,
 'tomar': 486,
 'oa': 487,
 'pratap': 488,
 'karishma': 489,
 '2': 490,
 'rs': 491,
 'satpal': 492,
 'kala': 493,
 'and': 494,
 'saurabh': 495,
 'rajiv': 496,
 'gayatri': 497,
 'puran': 498,
 'sonali': 499,
 'ui': 500,
 'dheeraj': 501,
 'shubham': 502,
 'sr': 503,
 'jahan': 504,
 'ganesh': 505,
 'hr': 506,
 'rajendra': 507,
 'sen': 508,
 'ru': 509,
 'rajkumari': 510,
 'va': 511,
 'ih': 512,
 'subham': 513,
 'charan': 514,
 'rajan': 515,
 'saraswati': 516,
 'sona': 517,
 'bhagwati': 518,
 'manpreet': 519,
 'riya': 520,
 'kant': 521,
 'pa': 522,
 'ashwani': 523,
 'shahid': 524,
 'jitendra': 525,
 'madhuri': 526,
 'f': 527,
 'nirmal': 528,
 'versha': 529,
 'alka': 530,
 'rama': 531,
 'two': 532,
 'shobha': 533,
 'ne': 534,
 'rm': 535,
 'jatin': 536,
 'rk': 537,
 'man': 538,
 'megha': 539,
 'roshani': 540,
 'varun': 541,
 'ss': 542,
 '0': 543,
 'agarwal': 544,
 'rajat': 545,
 'salma': 546,
 'anjum': 547,
 'mo': 548,
 'it': 549,
 'rajani': 550,
 'mayank': 551,
 'no': 552,
 'ekta': 553,
 'yash': 554,
 'roopa': 555,
 'tara': 556,
 'hansraj': 557,
 'es': 558,
 'mu': 559,
 'sudhir': 560,
 'akshay': 561,
 'saddam': 562,
 'avinash': 563,
 'noni': 564,
 'chopra': 565,
 'reeta': 566,
 'nirmala': 567,
 'mamata': 568,
 'thapa': 569,
 'bhanu': 570,
 'ranjana': 571,
 'us': 572,
 'moh': 573,
 'begum': 574,
 'sk': 575,
 'vimal': 576,
 'vd': 577,
 'rukhsana': 578,
 'partap': 579,
 'aslam': 580,
 'anurag': 581,
 'giri': 582,
 'ana': 583,
 'bairwa': 584,
 'mala': 585,
 'aditya': 586,
 'irfan': 587,
 'gulab': 588,
 'amrita': 589,
 'bhupender': 590,
 'ratan': 591,
 'ramu': 592,
 'kundan': 593,
 'ishwar': 594,
 'panday': 595,
 'sabana': 596,
 'anwar': 597,
 'ja': 598,
 'raman': 599,
 'omprakash': 600,
 'se': 601,
 'champa': 602,
 'danish': 603,
 'ay': 604,
 'rukhsar': 605,
 'archna': 606,
 'km0': 607,
 'rn': 608,
 'ankur': 609,
 'himanshi': 610,
 'shrimati': 611,
 'mm': 612,
 'reetu': 613,
 'bhan': 614,
 'davi': 615,
 'sana': 616,
 'ik': 617,
 'bindu': 618,
 'aoopj': 619,
 'mansi': 620,
 're': 621,
 'sakshi': 622,
 'sudesh': 623,
 'surendra': 624,
 'im': 625,
 'satyam': 626,
 'parvesh': 627,
 'akram': 628,
 'nu': 629,
 'balram': 630,
 'purnima': 631,
 'ts': 632,
 'oajop': 633,
 'li': 634,
 'tannu': 635,
 'sohan': 636,
 'hm': 637,
 'yashoda': 638,
 'jatav': 639,
 'nanu': 640,
 'children': 641,
 'ee': 642,
 'sitara': 643,
 'krishana': 644,
 'id': 645,
 'ara': 646,
 'firoz': 647,
 'rina': 648,
 'harpreet': 649,
 'kalpana': 650,
 'bhatt': 651,
 'satender': 652,
 'tr': 653,
 'ue': 654,
 'banwari': 655,
 'dm': 656,
 'sher': 657,
 'gaytri': 658,
 'nirmla': 659,
 'mahendra': 660,
 'bhardwaj': 661,
 'lh': 662,
 'raghav': 663,
 'vimlesh': 664,
 'gurjar': 665,
 'punit': 666,
 'veena': 667,
 'veer': 668,
 'pandit': 669,
 'ei': 670,
 'yogender': 671,
 'ab': 672,
 'yrs': 673,
 'dimpal': 674,
 'vandna': 675,
 'mohamad': 676,
 'hasan': 677,
 'aaa': 678,
 'mh': 679,
 'phool': 680,
 'mahaveer': 681,
 'nilam': 682,
 'apooj': 683,
 'mumtaj': 684,
 'years': 685,
 'isha': 686,
 'chawla': 687,
 'diksha': 688,
 'mali': 689,
 'rt': 690,
 'mohini': 691,
 'sanjana': 692,
 'shalini': 693,
 'deep': 694,
 'his': 695,
 'akhtar': 696,
 'ajeet': 697,
 'oaopj': 698,
 'mho': 699,
 'mn': 700,
 'bisht': 701,
 'rajbala': 702,
 'rizwan': 703,
 'lila': 704,
 'bhagat': 705,
 'dhan': 706,
 'satya': 707,
 'hasina': 708,
 'nar': 709,
 'piyush': 710,
 'shahrukh': 711,
 'nayak': 712,
 'ravina': 713,
 'reema': 714,
 'gourav': 715,
 'dilip': 716,
 'brijesh': 717,
 'tina': 718,
 'kha': 719,
 'ls': 720,
 'ruchi': 721,
 'chotu': 722,
 'nm': 723,
 'punam': 724,
 'firoj': 725,
 'tinku': 726,
 'sarvesh': 727,
 'akhilesh': 728,
 'mangal': 729,
 'raa': 730,
 'iu': 731,
 'en': 732,
 'dharam': 733,
 'preety': 734,
 'kh': 735,
 'um': 736,
 'savitri': 737,
 'surjeet': 738,
 'kasim': 739,
 'malti': 740,
 'ash': 741,
 'lala': 742,
 'sajid': 743,
 'dolly': 744,
 'ba': 745,
 'ek': 746,
 'ayush': 747,
 'opjoa': 748,
 'kumawat': 749,
 'abhay': 750,
 'banu': 751,
 'sain': 752,
 'alongwith': 753,
 'goswami': 754,
 'nikki': 755,
 'devki': 756,
 'on': 757,
 'ie': 758,
 'shayam': 759,
 'puspa': 760,
 'vinit': 761,
 'azad': 762,
 'satyanarayan': 763,
 'baljeet': 764,
 'ahuja': 765,
 'shukla': 766,
 'tushar': 767,
 'shakuntla': 768,
 'garima': 769,
 'prashant': 770,
 'bhushan': 771,
 'shambhu': 772,
 'ng': 773,
 'gorav': 774,
 'hane': 775,
 'asah': 776,
 'jeet': 777,
 'rehman': 778,
 'mannu': 779,
 'bijender': 780,
 'mukul': 781,
 'anjana': 782,
 'hariom': 783,
 'alias': 784,
 'firdosh': 785,
 'sneha': 786,
 'sam': 787,
 'me': 788,
 'dipika': 789,
 'gujar': 790,
 'nargish': 791,
 'rajbir': 792,
 'ti': 793,
 'sudha': 794,
 'aashu': 795,
 'ranju': 796,
 'ojoap': 797,
 'eu': 798,
 'sahni': 799,
 'nt': 800,
 'kanti': 801,
 'naina': 802,
 'prashad': 803,
 'kamini': 804,
 'arman': 805,
 'neeru': 806,
 'aar': 807,
 'lakshmi': 808,
 'rishi': 809,
 'dh': 810,
 'anu': 811,
 'kunal': 812,
 'ga': 813,
 'upender': 814,
 'et': 815,
 'rao': 816,
 'shakshi': 817,
 'vr': 818,
 'hnae': 819,
 'joginder': 820,
 'hk': 821,
 'chandani': 822,
 'vaishali': 823,
 'shilpa': 824,
 'radhey': 825,
 'ya': 826,
 'disha': 827,
 'ki': 828,
 'ml': 829,
 'balbir': 830,
 '1': 831,
 'malhotra': 832,
 'shakuntala': 833,
 'ghanshyam': 834,
 'rajpoot': 835,
 'basanti': 836,
 'pojao': 837,
 'farjana': 838,
 'rashid': 839,
 'parul': 840,
 'hi': 841,
 'shilpi': 842,
 'radheshyam': 843,
 'rashida': 844,
 'huma': 845,
 'sahid': 846,
 'gori': 847,
 'sah': 848,
 'rl': 849,
 'nadeem': 850,
 'harender': 851,
 'ratni': 852,
 'chaman': 853,
 'manav': 854,
 'shekhar': 855,
 'sima': 856,
 'anish': 857,
 'th': 858,
 'juhi': 859,
 'सुश्री': 860,
 'tair': 861,
 'anhe': 862,
 'kalpna': 863,
 'hawa': 864,
 'farman': 865,
 'adhikari': 866,
 'sashi': 867,
 'gurpreet': 868,
 'ved': 869,
 'raghubir': 870,
 'balai': 871,
 'so': 872,
 'nirma': 873,
 'tejpal': 874,
 'ankush': 875,
 'daya': 876,
 'mandeep': 877,
 'jaiswal': 878,
 'aopoj': 879,
 'vikrant': 880,
 'shekh': 881,
 'anchal': 882,
 'pavan': 883,
 'niwas': 884,
 'parshad': 885,
 'bibi': 886,
 'mtmaa': 887,
 'sony': 888,
 'umar': 889,
 'uu': 890,
 'hu': 891,
 'banti': 892,
 'rima': 893,
 'brij': 894,
 'umesh': 895,
 'dilshad': 896,
 'rohan': 897,
 'rj': 898,
 'rajpal': 899,
 'ashutosh': 900,
 'aftab': 901,
 'bhatia': 902,
 'moti': 903,
 'nd': 904,
 'adil': 905,
 'chouhan': 906,
 'mohmad': 907,
 'aruna': 908,
 'mani': 909,
 'aw': 910,
 'hem': 911,
 'unknown': 912,
 'amr': 913,
 'chetan': 914,
 'vimala': 915,
 'bunty': 916,
 'mra': 917,
 'bhandari': 918,
 'ev': 919,
 'aal': 920,
 'rihana': 921,
 'rachana': 922,
 'shahin': 923,
 'nai': 924,
 'babloo': 925,
 'ajopo': 926,
 'jiya': 927,
 'prachi': 928,
 'joyti': 929,
 'neelu': 930,
 'ramkumar': 931,
 'richa': 932,
 'ankita': 933,
 'kamala': 934,
 'shabina': 935,
 'jr': 936,
 'bhuri': 937,
 'jopao': 938,
 'nishant': 939,
 'jay': 940,
 'satbir': 941,
 'ritika': 942,
 'samreen': 943,
 'du': 944,
 'fatima': 945,
 'nishu': 946,
 'late': 947,
 'sikha': 948,
 'ravindra': 949,
 'ag': 950,
 'sobha': 951,
 'sardar': 952,
 'rampal': 953,
 'dr': 954,
 'momin': 955,
 'asif': 956,
 'ray': 957,
 'nagar': 958,
 'aarif': 959,
 'naeh': 960,
 'ranjan': 961,
 'gauri': 962,
 'af': 963,
 'teena': 964,
 'girish': 965,
 'dubey': 966,
 'narendra': 967,
 'kaushal': 968,
 'aashma': 969,
 'faisal': 970,
 'nargis': 971,
 'pajoo': 972,
 'gita': 973,
 'khatik': 974,
 'khalid': 975,
 'anoop': 976,
 'mohsin': 977,
 'smts': 978,
 'ranu': 979,
 'puri': 980,
 'jaipal': 981,
 'jasoda': 982,
 'hd': 983,
 'kn': 984,
 'islam': 985,
 'ps': 986,
 'gurmeet': 987,
 'saleem': 988,
 'ep': 989,
 'lt': 990,
 'ramchander': 991,
 'sadhna': 992,
 'wasim': 993,
 'bhavna': 994,
 'saha': 995,
 'som': 996,
 'ajr': 997,
 'virendra': 998,
 'os': 999,
 'shama': 1000,
 ...}

In [0]:
x_train_tokens = tokenizer.texts_to_sequences(X_train)

In [0]:
X_train[0]

'jafauamrsrad h'

In [0]:
x_test_tokens = tokenizer.texts_to_sequences(X_test)

In [0]:
num_tokens = [len(tokens) for tokens in x_train_tokens + x_test_tokens]
num_tokens = np.array(num_tokens)

print("Mean tokens: " + str(np.mean(num_tokens)))
print("Max tokens: " + str(np.max(num_tokens)))

Mean tokens: 1.1543237470819054
Max tokens: 13

In [0]:
max_tokens = np.mean(num_tokens) + 2 * np.std(num_tokens)
max_tokens = int(max_tokens)
print("Max tokens: " + str(max_tokens))
print("Covers " + str((np.sum(num_tokens < max_tokens) / len(num_tokens))*100) + "% of dataset")

Max tokens: 3
Covers 94.60255964502724% of dataset

In [0]:
pad = 'pre'
x_train_pad = pad_sequences(x_train_tokens, maxlen=max_tokens,
                            padding=pad, truncating=pad)
x_test_pad = pad_sequences(x_test_tokens, maxlen=max_tokens,
                           padding=pad, truncating=pad)

In [0]:
x_train_pad.shape, x_test_pad.shape

((45299, 3), (15100, 3))

In [0]:
OUTDIR = './Graph'

import shutil
shutil.rmtree(OUTDIR, ignore_errors = True)

model = Sequential()
embedding_size=8

model.add(Embedding(input_dim=num_words,
                    output_dim=embedding_size,
                    input_length=max_tokens,
                    name='layer_embedding'))
model.add(GRU(units=16, return_sequences=True))
model.add(GRU(units=8, return_sequences=True))
model.add(GRU(units=4))
model.add(Dense(1 , activation="sigmoid"))

optimizer = Adam(lr=0.001)

model.compile(loss='binary_crossentropy',
              optimizer=optimizer,
              metrics=['accuracy'])

model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
layer_embedding (Embedding)  (None, 3, 8)              160000
_________________________________________________________________
gru_3 (GRU)                  (None, 3, 16)             1200
_________________________________________________________________
gru_4 (GRU)                  (None, 3, 8)              600
_________________________________________________________________
gru_5 (GRU)                  (None, 4)                 156
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 5
=================================================================
Total params: 161,961
Trainable params: 161,961
Non-trainable params: 0
_________________________________________________________________

In [0]:
from tensorboardcolab import *

tbc = TensorBoardColab()

Using TensorFlow backend.

Wait for 8 seconds...
TensorBoard link:
https://1c49bf6e.ngrok.io

In [0]:
config = projector.ProjectorConfig()
projector.visualize_embeddings(tf.summary.FileWriter(OUTDIR), config)

In [0]:
model.fit(x_train_pad, y_train,
          validation_split=0.05, epochs=10, batch_size=64)
# model.fit(x_train_pad, y_train,
#           validation_split=0.05, epochs=10, batch_size=64, 
#           callbacks=[TensorBoardColabCallback(tbc)])

Train on 43034 samples, validate on 2265 samples
Epoch 1/10
43034/43034 [==============================] - 10s 241us/sample - loss: 0.3766 - acc: 0.8225 - val_loss: 0.2414 - val_acc: 0.9192
Epoch 2/10
43034/43034 [==============================] - 8s 184us/sample - loss: 0.1336 - acc: 0.9629 - val_loss: 0.2113 - val_acc: 0.9347
Epoch 3/10
43034/43034 [==============================] - 8s 182us/sample - loss: 0.0957 - acc: 0.9740 - val_loss: 0.2113 - val_acc: 0.9329
Epoch 4/10
43034/43034 [==============================] - 8s 181us/sample - loss: 0.0893 - acc: 0.9742 - val_loss: 0.2084 - val_acc: 0.9355
Epoch 5/10
43034/43034 [==============================] - 8s 180us/sample - loss: 0.0858 - acc: 0.9744 - val_loss: 0.1964 - val_acc: 0.9369
Epoch 6/10
43034/43034 [==============================] - 8s 179us/sample - loss: 0.0834 - acc: 0.9744 - val_loss: 0.2037 - val_acc: 0.9360
Epoch 7/10
43034/43034 [==============================] - 8s 181us/sample - loss: 0.0810 - acc: 0.9748 - val_loss: 0.1998 - val_acc: 0.9377
Epoch 8/10
43034/43034 [==============================] - 8s 177us/sample - loss: 0.0800 - acc: 0.9747 - val_loss: 0.1970 - val_acc: 0.9369
Epoch 9/10
43034/43034 [==============================] - 8s 183us/sample - loss: 0.0786 - acc: 0.9749 - val_loss: 0.2059 - val_acc: 0.9364
Epoch 10/10
43034/43034 [==============================] - 8s 180us/sample - loss: 0.0782 - acc: 0.9751 - val_loss: 0.1979 - val_acc: 0.9382

In [0]:
%%time
result = model.evaluate(x_test_pad, y_test)

15100/15100 [==============================] - 1s 69us/sample - loss: 0.2082 - acc: 0.9364
CPU times: user 1.37 s, sys: 155 ms, total: 1.53 s
Wall time: 1.05 s

In [0]:
def predict_validity(texts):
    texts = [str.lower(text) for text in texts]
    tokens = tokenizer.texts_to_sequences(texts)
    tokens_pad = pad_sequences(tokens, maxlen=max_tokens,
                           padding=pad, truncating=pad)
    print(tokens_pad.shape)
    predictions = model.predict(tokens_pad)
    results = []
    i = 0
    for pred in predictions:
        if(pred <0.5):
            results.append("{} is Valid".format(texts[i]))
        else:
            results.append("{} is Invalid".format(texts[i]))
        i = i+1
    return results

text1 = "gurpreet"
text2 = "raju"
text3 = "ram"
text4 = "afkjafkj"
text5 = "Iadfadf"
text6 = "hello"
text7 = "saddam hussain"
text8 = "Md"
texts = [text1, text2, text3, text4, text5, text6, text7, text8]

predict_validity(texts)

(8, 3)

['gurpreet is Valid',
 'raju is Valid',
 'ram is Valid',
 'afkjafkj is Invalid',
 'iadfadf is Invalid',
 'hello is Invalid',
 'saddam hussain is Valid',
 'md is Valid']